/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/
/* 
    Created on : Mar 8, 2018, 4:03:46 PM
    Author     : D067642
*/
.margin {
    margin-bottom: 1em;
}
